*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #080505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-image: url(images/payment.jpg);

}
 
.contact-form{
    background: #080505;
    padding: 2.5 rem;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(10,10,10,0.9);
    border: 1px solid #1981a7;
    width: 90%; max-width: 500px;
    position: relative;
    
}